body {
  font-family: Georgia, serif;
  font-variant-numeric: lining-nums;
}

/* グリッドレイアウト */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 250px); /* カード幅固定 */
  gap: 20px;
  padding: 20px;
  justify-content: center; /* 中央揃え（任意） */
}

/* カードデザイン */
.card {
  width: 250px; /* カード幅を画像サイズに合わせる */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-4px);
}

/* 画像 */
.card img {
  width: 100%;
  height: 200px;
  /* aspect-ratio: 1 / 1; /* 正方形に保つ（CSSの最新機能） */
  object-fit: contain;   /* 画像を縦横比を保ったまま収める（はみ出さない） */
  background-color: #ccc; /* 足りない部分はグレー背景で埋める */
  /* object-fit: cover; */
}

/* テキスト類 */
.card h3 {
  font-size: 1.1em;
  margin: 16px 12px 4px;
}
.card .date {
  color: #888;
  font-size: 0.9em;
  margin: 0 12px;
}
.card p {
  font-size: 0.95em;
  margin: 8px 12px 16px;
}

.view-more {
  text-align: right;
  margin: 10px 20px 0;
}

.view-more a {
  font-size: 0.95em;
  color: #1973EB;
  text-decoration: none;
}

.view-more a:hover {
  text-decoration: underline;
}

.float-right a {
  text-decoration: none;
}

